{% extends 'base.html' %}
{% block head %}
<title>Welcome to opengraph!</title>
<style>
body {
    width: 35em;
    margin: 0 auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}
</style>
{% endblock %}
{% block content %}
    <h1>Welcome to opengraph!</h1>
    <p>If you see this page, the web server is successfully installed and working. Further configuration is required.</p>
    <p>For online documentation and support please refer to <a href="https://flask.palletsprojects.com/en/1.1.x/#api-reference" target="_blank">Flask API Reference</a></p>
    <p><em>Thank you for using opengraph.</em></p>
{% endblock %}
